@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-black;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
  padding-bottom: 3px;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#8b0e0d, #8b0e0d);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
  padding-bottom: 3px;
}

/* Drag File Style */

.drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.drop-area.drag-over {
  border-color: #000;
}

/* Modal Style */

.modal {
  transition: opacity 0.25s ease;
}
body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}

/* Radio Button Style */

input[type="radio"] {
  @apply appearance-none rounded border border-white;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none; /* Menghilangkan outline saat aktif */
}

/* Style the radio button when checked */
input[type="radio"]:checked {
  @apply bg-white
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

/* Show the icon when radio button is checked */
input[type="radio"]:checked + .icon {
  display: block;
} 